.contenedor {
    width: 70%;
    height: 580px;
    background-color: lightgreen;
    margin:  50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h5 {
    margin: 0px;
}
.day {
    width: 180px;
    height: 250px;
    position: relative;

}

h4 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 25%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info{
    width: 100%;
    height: 75%;
    position: absolute;
    bottom: 0;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.day:hover {
    width: 200px;
    height: 270px;
}

.sunny{
    background-color: lightcyan;
}

.sun-cloud{
    background-color: lightskyblue;
}

.cloud{
    background-color: lightsteelblue;
}

.clouds{
    background-color: lightslategrey;
}
.rain{
    background-color: darkgray;
}
.sun-rain{
    background-color: whitesmoke;
}
.storm{
    background-color: dimgray;
}
.snow{
    background-color: gainsboro;
}
.fog{
    background-color: silver;
}
.night{
    background-color: midnightblue;
    color: white;
}
